{% extends "base_generic.html" %}

{% block content %}
    <h1>Wish List</h1>

    {% if wish_list %}
    <ul>

        {% for wish in wish_list %}
            <li>
            <a href="{{ wish.get_absolute_url }}">{{ wish.title }}</a> (Price: {{ wish.price }})
                <div class="element-inline">

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="book" value="{{ wish.pk }}" />
                        <input class="booking-button" type="submit" value="Book the wish!" />
                    </form>
                </div>
            </li>
        {% endfor %}

    </ul>
    {% else %}
      <p>There are no wishes.</p>
    {% endif %}
{% endblock %}
